header {
  background-color: #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 20px;
}

.menu {
  display: flex;
  list-style: none;
}

.item-menu {
  margin: 0 10px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

@media (max-width: 420px) {
  header {
    flex-direction: column;
    height: 100px;
    padding: 20px 0;
  }

  .item-menu {
    font-size: 1.2rem;
  }
}